@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Cabin', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.hero {
  background-image: url('docs/Teamwork.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.hero-content {
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

.hero h1 {
  font-size: 70px;
  line-height: 1.5;
  margin: 2rem 0;
  letter-spacing: 3px;
}

.hero h2 {
  font-size: 30px;
  line-height: 1.5;
  margin: 2rem 0;
  letter-spacing: 1.5px;
}

.contact-btn {
  background-color: #094964;
  color: #fff;
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem 0;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: 7rem auto;
  padding: 2rem;
}

.content-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
}

.content-box h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  padding: 2rem; 
}

.content-box img {
  flex: 33.33%;
}

.content-box p {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  font-size: 150%;
  font-weight: lighter;
  line-height: 150%;
}

.contact {
  background-color: #000;
  color: #fff;
}

.contact h2 {
  text-align: center;
  padding: 3rem;
  padding-bottom: 1rem;
  font-size: 40px;
  line-height: 1.5;
  margin: 2rem 0;
  letter-spacing: 1.5px;
}

hr {
  width: 10%;
  margin: 0 auto 3rem auto;
  opacity: 0.5;
}

.instructors {
  display: flex;
  justify-content: space-around;
}

.instructor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructor p {
  margin: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.instructor img {
  border-radius: 50%;
}

.logo {
  height: auto;
  width: 10rem;
}

.response {
  text-align: center;
  font-size: 130%;
  margin: 2rem;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 40px;
    padding: auto 0.2rem;
  }

  .hero h2 {
    font-size: 20px;
  }

  .contact-btn {
    font-size: 1rem;
  }

  .content {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .content-box:last-child {
    padding-bottom: 2rem;
  }

  .content-box h3 {
    margin-top: 0;
  }

  .content-box p {
    margin-bottom: 0
  }

  .contact h2 {
    font-size: 150%;
    padding: 1rem;
  }

  .instructors {
    flex-direction: column;
  }

  .instructor {
    margin-bottom: 2rem;
  }

  .instructor img {
    max-width: 70%;
  }

  .instructor p {
    font-size: 100%;
  }
}