* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
  overflow: auto;
}

.hero {
  background-image: url('docs/Teamwork.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 70px;
  line-height: 1.5;
}

.hero h2 {
  font-size: 30px;
  line-height: 1.5;
}

.contact-btn {
  background-color: #094964;
  color: #fff;
  font-size: 1.7rem;
  padding: 2rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}